@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #00856F;
  --headline: #22262a;
  --paragraph: #484f56;
  --brand-beige: #fffaf0;
  --brand-light: #dce9e3;
  font-size: 62.5%;
}

body{
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;
}

header{
  width: 47.5rem;
  margin: 4.1rem auto 0 auto;
}

h4{
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

h1{
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

p{
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

button{
  background: var(--primary-color);
  border: none;
  border-radius: 4rem;
  height: 6.2rem;
  width: 26.3rem;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin: 0 auto 6rem auto;
}

.stats{
  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto;
  background-color: var(--brand-beige);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
}

.stat h3{
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: .4rem;
}

.stat p{
  margin: 0;
  color: var(--primary-color);
  line-height: 150%; 
}

header img{
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

header::before{
  content: '';
  width: 100vw;
  height: 108rem;
  background-color: var(--brand-light);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}